@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: Assistant;
  src:
    url(https://excalidraw.nyc3.cdn.digitaloceanspaces.com/oss/fonts/Assistant/Assistant-Regular.woff2)
      format('woff2'),
    url(./Assistant-Regular.woff2) format('woff2');
  font-weight: 400;
  style: normal;
  display: swap;
}

@font-face {
  font-family: Assistant;
  src:
    url(https://excalidraw.nyc3.cdn.digitaloceanspaces.com/oss/fonts/Assistant/Assistant-Medium.woff2)
      format('woff2'),
    url(./Assistant-Medium.woff2) format('woff2');
  font-weight: 500;
  style: normal;
  display: swap;
}

@font-face {
  font-family: Assistant;
  src:
    url(https://excalidraw.nyc3.cdn.digitaloceanspaces.com/oss/fonts/Assistant/Assistant-SemiBold.woff2)
      format('woff2'),
    url(./Assistant-SemiBold.woff2) format('woff2');
  font-weight: 600;
  style: normal;
  display: swap;
}

@font-face {
  font-family: Assistant;
  src:
    url(https://excalidraw.nyc3.cdn.digitaloceanspaces.com/oss/fonts/Assistant/Assistant-Bold.woff2)
      format('woff2'),
    url(./Assistant-Bold.woff2) format('woff2');
  font-weight: 700;
  style: normal;
  display: swap;
}
